@media only screen and (min-width : 1200px),screen and (min-height : 655px) {
    .pdfobject { 
        border: 1px solid #666;
        height: 830px !important; 
    }
    
    .from{
        margin-right: 24px;
        margin-left: 24px;
    }
    .card-image{
        padding: 20% !important;
    }
    .tab-content{
        padding-bottom: 16px !important;
        background-color: white;
    }
    .no-padding{
        padding: 0px !important;
    }
    .font-color-tabs{
        color:#01579b !important;
    }
    .row{
        margin: 0px !important;
        padding: 0px ! important;
    }
    .pdfobject-container { height: 100%;}
    .pdfobject { 
        border: 1px solid #666;
    }
    .modal{
        top:20px !important;
        height: 95% !important;
        width: 70%;
    }
    .modal .modal-content {
        padding: 22px;
    }

}
@media only screen and (min-width : 1200px),screen and (max-height : 654px) {
    .pdfobject { 
        border: 1px solid #666;
        height: 570px !important; 
    }
    
    .from{
        margin-right: 24px;
        margin-left: 24px;
    }
    .card-image{
        padding: 20% !important;
    }
    .tab-content{
        padding-bottom: 16px !important;
        background-color: white;
    }
    .no-padding{
        padding: 0px !important;
    }
    .font-color-tabs{
        color:#01579b !important;
    }
    .row{
        margin: 0px !important;
        padding: 0px ! important;
    }
    .pdfobject-container { height: 100%;}
    .pdfobject { 
        border: 1px solid #666;
    }
    .modal{
        top:20px !important;
        height: 95% !important;
        width: 70%;
    }
    .modal .modal-content {
        padding: 22px;
    }

}
@media only screen and (min-width : 993px),screen and (min-height : 655px) {
    .pdfobject { 
        border: 1px solid #666;
        height: 830px !important; 
    }
    
    .from{
        margin-right: 24px;
        margin-left: 24px;
    }
    .card-image{
        padding: 20% !important;
    }
    .tab-content{
        padding-bottom: 16px !important;
        background-color: white;
    }
    .no-padding{
        padding: 0px !important;
    }
    .font-color-tabs{
        color:#01579b !important;
    }
    .row{
        margin: 0px !important;
        padding: 0px ! important;
    }
    .pdfobject-container { height: 100%;}
    .pdfobject { 
        border: 1px solid #666;
    }
    .modal{
        top:20px !important;
        height: 95% !important;
        width: 70%;
    }
    .modal .modal-content {
        padding: 22px;
    }

}
@media only screen and (min-width : 993px),screen and (max-height : 654px) {
    .pdfobject { 
        border: 1px solid #666;
        height: 570px !important; 
    }
    
    .from{
        margin-right: 24px;
        margin-left: 24px;
    }
    .card-image{
        padding: 20% !important;
    }
    .tab-content{
        padding-bottom: 16px !important;
        background-color: white;
    }
    .no-padding{
        padding: 0px !important;
    }
    .font-color-tabs{
        color:#01579b !important;
    }
    .row{
        margin: 0px !important;
        padding: 0px ! important;
    }
    .pdfobject-container { height: 100%;}
    .pdfobject { 
        border: 1px solid #666;
    }
    .modal{
        top:20px !important;
        height: 95% !important;
        width: 70%;
        max-height: 620px !important;
    }
    .modal .modal-content {
        padding: 22px;
    }
    .brand-size{
        font-size:32px;
    }
}

@media only screen and (max-width : 992px) {
    .from{
        margin-right: 24px;
        margin-left: 24px;
    }
    .card-image{
        padding: 20% !important;
    }
    .tab-content{
        padding-bottom: 16px !important;
        background-color: white;
    }
    .font-color-tabs{
        color:#01579b !important;
    }
    .row{
        margin: 0px !important;
        padding: 0px ! important;
    }
    .font-size-header{
        font-size: 16px !important;
    }
    .pdfobject-container { height: 400px;}
    .pdfobject { border: 1px solid #666; }
    .modal{
        top:20px !important;
        height: 870px !important;
        width: 70%;
    }
    .brand-size{
        font-size:32px;
    }
}
@media only screen and (max-width : 600px) {
    .from{
        margin-right: 0px;
        margin-left: 0px;
    }
    .card-image{
        padding-top: 8% !important;
        padding-left: 20% !important;
        padding-right: 20% !important;
        padding-bottom: 8% !important;
    }
    .no-padding{
        padding: 0px !important;
    }
    .tab-content{
        padding-top:0px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        padding-bottom: 16px !important;
        background-color: white;
    }
    .font-color-tabs{
        color:#01579b !important;
        font-size:14px;
    }
    .row{
        margin: 0px !important;
        padding: 0px ! important;
    }
    .brand-size{
        font-size:28px;
    }
}

h5{
    color: red;
}
h6{
    color: #01579b;
    padding-top: 8px !important;
}
h3{
    color: green;
}
h4{
    color: orange;
}

.header{
    font-size:20px !important;
}


.tabs .indicator {
    background-color: #01579b !important;
}
.content-layout{
    padding:0px;
}
.btn-fix{
    top: 45px; 
    right: 24px;
}
.content-padding{
    padding-bottom: 16px !important;
}

.content-padding-top{
    padding-top:16px !important;
}
.content-padding-bottom{
    padding-bottom: 16px !important;
}
.card-content-bottom{
    padding-bottom: 32px !important;
}
.no-padding{
    padding: 0px !important;
    }.scroll-content{
        overflow-x: auto; 
        height:480px;
    }
.middle{
    margin-left: auto;
    margin-right: auto
}
.preloader{
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right:0px !important;
        margin-left: 0px !important;
    }
